/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-size: 11pt;
}
span.rvts8
{
 font-size: 8pt;
}
span.rvts9
{
 font-size: 28pt;
}
span.rvts10
{
 font-size: 36pt;
 font-weight: bold;
}
span.rvts11 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts12, span.rvts12 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts13
{
 font-size: 14pt;
 font-weight: bold;
}
span.rvts14
{
 font-size: 11pt;
 font-style: italic;
}
span.rvts15
{
 font-size: 11pt;
 font-style: italic;
}
span.rvts16
{
 font-size: 11pt;
 color: #000000;
}
a.rvts17, span.rvts17
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts17:hover { color: #0000ff; }
span.rvts18
{
 font-size: 14pt;
 color: #4f81bd;
}
span.rvts19
{
 font-size: 11pt;
}
span.rvts20
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts21
{
 font-weight: bold;
 color: #000080;
}
span.rvts22
{
 font-style: italic;
 color: #800000;
}
a.rvts23, span.rvts23
{
 color: #008000;
 text-decoration: underline;
}
span.rvts24
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts25
{
 font-size: 11pt;
 color: #0000ff;
}
span.rvts26
{
 font-size: 11pt;
 font-style: italic;
 color: #000000;
}
span.rvts27
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts28
{
 font-size: 11pt;
 font-weight: bold;
}
a.rvts29, span.rvts29
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts30
{
 font-size: 11pt;
 color: #7f7f7f;
}
span.rvts31
{
 font-size: 7pt;
 color: #000000;
 vertical-align: super;
}
span.rvts32
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
}
a.rvts33, span.rvts33
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts33:hover { color: #0000ff; }
span.rvts34
{
 font-size: 13pt;
 font-weight: bold;
 color: #4f81bd;
}
span.rvts35
{
 font-size: 11pt;
 font-weight: bold;
}
span.rvts36
{
 font-size: 11pt;
 color: #000000;
}
span.rvts37
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
}
span.rvts38
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
}
a.rvts39, span.rvts39
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts40, span.rvts40
{
 font-size: 11pt;
 font-style: italic;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts41, span.rvts41
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts41:hover { color: #0000ff; }
a.rvts42, span.rvts42
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts43, span.rvts43
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts43:hover { color: #0000ff; }
span.rvts44
{
 font-size: 11pt;
 color: #4f81bd;
}
span.rvts45
{
 font-size: 11pt;
 font-style: italic;
 text-decoration: underline;
}
span.rvts46
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts47
{
 font-size: 11pt;
 font-style: italic;
 color: #000000;
}
a.rvts48, span.rvts48
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts48:hover { color: #0000ff; }
span.rvts49
{
 font-size: 11pt;
 background-color: #ffffff;
}
span.rvts50
{
 font-size: 11pt;
 font-weight: bold;
 color: #4f81bd;
}
span.rvts51
{
 font-size: 11pt;
 color: ;
}
span.rvts52
{
 font-size: 11pt;
 color: #000000;
 text-decoration: underline;
}
a.rvts53, span.rvts53
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts54
{
 font-size: 11pt;
 text-decoration: underline;
}
span.rvts55
{
 font-size: 11pt;
 font-family: 'Cambria';
}
span.rvts56
{
 font-size: 11pt;
 font-family: 'Cambria';
 font-style: italic;
}
span.rvts57
{
 font-size: 11pt;
 font-family: 'Cambria';
 font-style: italic;
 background-color: #ffffff;
}
span.rvts58
{
 font-size: 7pt;
 font-family: 'Cambria';
 font-style: italic;
 background-color: #ffffff;
 vertical-align: sub;
}
a.rvts59, span.rvts59
{
 font-size: 11pt;
 text-decoration: none;
}
a.rvts60, span.rvts60
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts61
{
 font-size: 14pt;
 font-weight: bold;
 color: #4f81bd;
}
a.rvts62, span.rvts62
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts62:hover { color: #0000ff; }
span.rvts63
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
}
a.rvts64, span.rvts64
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts64:hover { color: #0000ff; }
span.rvts65
{
}
span.rvts66
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts67
{
 background-color: #ffff00;
}
span.rvts68
{
 background-color: #ffff00;
}
span.rvts69
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts70
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts71
{
 font-size: 12pt;
 color: #4f81bd;
}
span.rvts72
{
 font-size: 11pt;
 font-style: italic;
 color: #ff0000;
}
span.rvts73
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #ff0000;
}
span.rvts74
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: ;
}
a.rvts75, span.rvts75
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts75:hover { color: #0000ff; }
a.rvts76, span.rvts76
{
 font-size: 11pt;
 font-style: italic;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts76:hover { color: #0000ff; }
span.rvts77
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: #ff0000;
}
span.rvts78
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #000000;
}
span.rvts79
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
}
span.rvts80
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
a.rvts81, span.rvts81
{
 font-size: 11pt;
 font-style: italic;
 text-decoration: none;
}
a.rvts82, span.rvts82
{
 font-size: 11pt;
 font-style: italic;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts83
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #ff0000;
}
span.rvts84
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
 color: #ff0000;
}
span.rvts85
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #ff0000;
}
a.rvts86, span.rvts86
{
 font-size: 11pt;
 font-style: italic;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts86:hover { color: #0000ff; }
span.rvts87
{
 font-size: 11pt;
 color: ;
}
span.rvts88
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: ;
}
span.rvts89
{
 font-size: 11pt;
 font-style: italic;
 color: ;
}
span.rvts90
{
 font-size: 11pt;
 color: #7f7f7f;
}
a.rvts91, span.rvts91
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts92
{
 font-size: 18pt;
 color: #ff0000;
}
span.rvts93
{
 font-size: 14pt;
 font-weight: bold;
 color: #365f91;
}
span.rvts94
{
 font-size: 11pt;
 text-decoration: underline;
}
span.rvts95
{
 font-size: 12pt;
 font-weight: bold;
 color: #4f81bd;
}
span.rvts96
{
 font-weight: bold;
}
span.rvts97
{
 color: #0000ff;
}
span.rvts98
{
 font-size: 11pt;
 color: #0000ff;
}
span.rvts99
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #ff0000;
}
span.rvts100
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts101
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #7030a0;
}
span.rvts102
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #3333ff;
}
span.rvts103
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #339933;
}
span.rvts104
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
span.rvts105
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #3333ff;
}
span.rvts106
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts107
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #800000;
 background-color: #ffffff;
}
span.rvts108
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #800000;
 background-color: #ffffff;
}
span.rvts109
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
 background-color: #ffffff;
}
span.rvts110
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-style: italic;
 color: #00aa00;
 background-color: #ffffff;
}
span.rvts111
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
 background-color: #e8f2fe;
}
span.rvts112
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #800000;
 background-color: #e8f2fe;
}
span.rvts113
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-style: italic;
 color: #00aa00;
 background-color: #e8f2fe;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 text-align: center;
 page-break-inside: avoid;
}
.rvps5
{
 text-align: center;
 margin: 1px 1px 11px 1px;
}
.rvps6
{
 text-align: center;
 margin: 11px 1px 1px 1px;
}
.rvps7 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps8
{
 margin: 0px 0px 7px 0px;
}
.rvps9
{
 text-align: center;
 margin: 0px 0px 7px 0px;
}
.rvps10
{
 text-indent: -24px;
 margin: 0px 0px 7px 48px;
}
.rvps11
{
 margin: 0px 0px 7px 24px;
}
.rvps12
{
 margin: 0px 6px 7px 0px;
}
.rvps13
{
 margin: 0px 6px 7px 24px;
}
.rvps14
{
 line-height: 1.50;
}
.rvps15
{
 margin: 0px 0px 7px 45px;
}
.rvps16
{
 margin: 0px 0px 7px 48px;
}
.rvps17
{
 margin: 0px 12px 7px 0px;
}
.rvps18
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 7px 0px;
}
.rvps19
{
 margin: 0px 23px 7px 0px;
}
.rvps20
{
 margin: 0px 0px 0px 48px;
}
.rvps21
{
 page-break-inside: avoid;
}
.rvps22
{
 page-break-inside: avoid;
 margin: 0px 0px 0px 24px;
}
.rvps23
{
 margin: 0px 0px 0px 24px;
}
.rvps24
{
 page-break-inside: avoid;
 margin: 0px 0px 0px 48px;
}
.rvps25
{
 margin: 0px 0px 0px 72px;
}
.rvps26
{
 page-break-inside: avoid;
 margin: 0px 1px 7px 1px;
}
.rvps27
{
 page-break-inside: avoid;
 margin: 0px 0px 7px 0px;
}
.rvps28
{
 background: #e5e5e5;
 margin: 0px 0px 7px 0px;
}
.rvps29
{
 page-break-inside: avoid;
 margin: 0px 0px 0px 72px;
}
.rvps30
{
 page-break-inside: avoid;
 margin: 0px 0px 0px 96px;
}
.rvps31
{
 text-indent: 48px;
 margin: 0px 0px 7px 0px;
}
.rvps32
{
 margin: 0px 0px 7px 72px;
}
.rvps33
{
 text-indent: 48px;
}
.rvps34
{
 background: #bfbfbf;
}
.rvps35
{
 text-align: center;
 background: #bfbfbf;
}
.rvps36
{
 background: #ffffff;
}
.rvps37
{
 text-align: center;
 background: #ffffff;
}
.rvps38
{
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: decimal;}
.list5 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: decimal;}
.list6 {text-indent: 0px; margin-left: 25px; list-style-position: outside; list-style-type: disc;}
.list7 {text-indent: 0px; margin-left: 47px; list-style-position: outside; list-style-type: circle;}
.list8 {text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: circle;}
